<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </style>
  </head>
  <body>
    <h1>fill out this form</h1>
      <div class="container">
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" name="btn btn-primary" value="Submit">
        </form>
      </div>

  </body>
</html>
